{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
       
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog2/css/main.css' %}"/>

        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'blog2/css/styles.css' %}" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
    {% comment %} lll {% endcomment %}
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
       </head>
    <body class="sb-nav-fixed">
      
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <!-- HTML code to add icon in the title bar -->
				

            <a class="navbar-brand ps-3" href="index.html">Ganesh Dairy</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
            {% comment %} header {% endcomment %}
            <div class="container">
                <link rel="shortcut icon" href="favicon.jpg" type="image/x-icon">
               
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
              
                    
                  </div> 
                  <!-- Navbar Right Side -->
                
                  <div class="navbar-nav">
                    {% if user.is_authenticated %}
                    {% comment %} <a class="nav-item nav-link mx-3" href="{% url 'stdisplay' %}"> Milkman Record</a>
                    <a class="nav-item nav-link" href="{% url 'profile' %}"> Device Record</a> {% endcomment %}
                    <!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8" />
		
		<title>
		 icon
		</title>
		

        {% comment %} <img src="https://yoursite.com/wp-admin/images/website-logo.png" height="50px" width="50px" alt=”site’s logo”> {% endcomment %}

        {% comment %} <img src="{% static 'assets/img/login.png' %} " height="50px" width="50px" alt=”site’s logo”> {% endcomment %}
     
            <!-- <marquee  behavior="scroll" direction="left-up"> -->
           
                <div class="header">
                  <img src="blog/img2/login-icon.png" alt="logo" />
                </div>

                    <a  style = "color:white;" class="nav-item nav-link mx-3" href="{% url 'logout' %}">Logout</a>
                    
                    
                    {% else %}
                    <a  style = "color:white;" class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a  style = "color:white;" class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            
            <!-- Navbar Search-->
            {% comment %} <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form> {% endcomment %}
            <!-- Navbar-->
            {% comment %} <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul> {% endcomment %}
        </nav>
        
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Section 1</div>
                            <a style="color:white"class="nav-link" href="/dashboard">
                                <div style="color:white"class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Section 2</div>
                            <a style="color:white"class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div style="color:white" class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                               Records
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a style="color:white"class="nav-item nav-link mx-3" href="{% url 'stdisplay' %}"> Milkman Record</a>
                                    <a style="color:white"class="nav-item nav-link mx-3" href="{% url 'stdisplay1' %}"> Device Record</a> 
                                </nav>
                            </div>
                            <a style="color:white" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div style="color:white" class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div style="color:white" class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav style="color:white" class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a style="color:white" class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Page 1
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a style="color:white" class="nav-link" href="{% url 'page11' %}">Page 1.1</a>
                                            <a style="color:white" class="nav-link" href="{% url 'page12' %}">Page 1.2</a>
                                            <a style="color:white" class="nav-link" href="{% url 'page13' %}">Page 1.3</a>
                                        </nav>
                                    </div>

                                   
                                    
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Section 3</div>
                            <a style="color:white" class="nav-link" href="{% url 'charts' %}">
                                <div style="color:white" class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a style="color:white" class="nav-link" href="{% url 'graph' %}">
                                <div style="color:white" class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Graph
                            </a>
                        </div>
                    </div>

                    

                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        
                    </div>
                </nav>
            </div>
            
            <div id="layoutSidenav_content">
                {% block cont %}{% endblock %} 
               <div> 
            </div>  {% block body %}{% endblock %}
                    {% block content %}{% endblock %}
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                    
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'blog2/js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'blog2/assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'blog2/assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'blog2/js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
